
.titulo__formulario{
    display: flex;
    justify-content: center;
    align-items: center;

}

.formulario{
    display: flex;
    flex-direction: column;
    margin: 1em;
    
}

.titulo, .nome{
    font-size: 32px;
    font-weight: 400;
    font-family: var(--fonte-banner);
    color: var(--cinza);
    margin-bottom: 0.3em;

}
.titulo{
    text-align: center;
    margin: 1em;
}

.input-name, 
.input-email,
.input-idade
 {
    line-height: 3em;
    margin-bottom: 2em;

}
.input-tipos,
.input-idade{
    height: 3.5em;
    margin-bottom: 1em;
    width: 100%;
}

.butao{
    display: flex;
    justify-self: center;
    align-items: center;
    margin:0 5em;
    justify-content: space-between;
    padding: 1em 2em;
    background-color: var(--azul);
    
    border-radius: 15px;
    box-shadow: 3px 3px 3px;
    cursor: pointer;

}

.btn-avancar{
    color: var(--branco);
    text-decoration: none;
}

@media (min-width: 768px){

    .titulo{
        font-size: 48px;
        font-weight: 400;
        color: var(--branco);
    
    }
    .nome{
        color: var(--branco);
        margin-top: 1em;
    }

    .butao{
        margin:1em 14em;
        justify-content: space-between;
        padding: 1em 1.5em;
    
    }
    .formulario{
        display: flex;
        flex-direction: column;
        margin: 1em 5em;
        
    }
    .tipo__data{
        display: flex;
        flex-direction: column;
    }
    .tipo, .data{
        display: flex;
        flex-direction: column;
    }
   

}


@media (min-width: 1440px){

    .titulo{
        font-size: 48px;
        font-weight: 400;
        color: var(--branco);
     
    }
    .nome{
        color: var(--branco);
    }

    .butao{
        margin:0 10em;
        justify-content: space-between;
        padding: 1em 2em;
        margin: 1em 18em;
    
    }
    .tipo__data{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 15px;
        
    }

    .tipo, .data{
        display: flex;
        flex-direction: column;
        width: 100%;
        
    }
    .formulario{
        display: flex;
        flex-direction: column;
        margin: 1em 20em;
       
    }

}