.titulo__secao{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.texto__titulo{
    font-family: var(--fonte-banner);
    font-weight: 400;
    font-size: 32px;
    color: var(--branco);
    padding: 15px;
    margin: 1em;
    line-height: 1.2em;
}

.perguntas{
    background-color: var(--azul);
    cursor: pointer;

}
.titulo-pergunta{
    font-family: var(--fonte-principal);
    font-weight: 700;
    color: var(--branco);
    font-size: 32px;
    margin-top: 0.3em;
    display: flex;
    padding: 0.5em;
    text-align: left;

}


.lista-perguntas{
    text-align: center;
    padding: 10px 0;
    color: white;
    padding: 0 1.3em; 
    margin-bottom: 1em;

}

.resposta{
    /* padding:1.2em 1em; */
    text-align: left;
    overflow: hidden;
    max-height: 0;
    transition: all 0.3s ease-in-out;

   
}

.texto-resposta{
    font-family: var(--fonte-principal);
    color: var(--cinza);
    font-weight: 500;
    font-size: 20px;
    background-color: var(--azul-claro);
    line-height: 2em;
    padding: 1em;
}

/*####### CASO DESEJ USAR O JAVASCRIPT PARA O DROPDOWN####*/
.active{
    display: block;
}

/*##### CASO DESEJE USAR O CSS PARA O DROPDOWN#####
.perguntas:hover ~ .resposta {
    display: block;
}*/



@media (min-width: 1440px){
    .lista-perguntas{
        text-align: center;
        padding: 10px 0;
        margin: 0 15em 1em 15em;

    }
    .texto__titulo{
        padding: 10px;
        font-size: 48px;
    }

}









