
.banner{
    height: 270px;
    width: auto;
    background-image: url("/img/banner-sem-texto.jpg"); 
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


/* .banner__titulo{
    width: 360px;
    height: 270px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgb(215, 0, 235);
  
} */

.banner__titulo, 
.link__banner{
    font-family: var(--fonte-banner);
    font-weight: 400;
    font-size: 32px;
    line-height: 42px;
    color: black;
    color: var(--branco);
    text-align: center;
} 
.link__banner{
    text-decoration: none;
}


@media (min-width: 768px){
    .banner{
        background-image: url("/img/banner-sem-texto.jpg");
        background-size: cover;
        background-position:center;
    }
}

