
body{
    font-family: Arial, Helvetica, sans-serif;
    background-image: linear-gradient(to right, rgb(20,147,220), rgb(17,54,71));

}
.box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(0, 0, 0, 0.8);
    padding: 15px;
    border-radius: 15px;
    width: 20%;
   
}
fieldset{
    padding: 30px;
    border: 3px solid dodgerblue;
}
.inputBox{
    padding: 8px;
}
legend{
    border: 1px solid dodgerblue;
    padding: 10px;
    text-align: center;
    background-color: dodgerblue;
    border-radius: 5px;
    color: white;
}

.inputBox{
    position: relative;
    color: white;
}

.inputUser{
    background-color: none;
    border: none;
    border-bottom: 1px solid white;
    outline: none;
    color: white;
    font-size: 15px;
    width: 100%;
    letter-spacing: 8px;

}