.mapa__legenda{
    width: 100%;
    margin: 1em;

    
}
.legenda{
    padding: 0 1.5em;
    text-align: left;

}
.titulo__legenda{
    color: var(--branco);
    font-size: 20px;
    font-weight: 700;
    font-family: var(--font-principal);
    margin-bottom: 2em;
    

}

.subtitle__legenda{
    display: flex;
    margin: 1.5em 0;
    align-items: center;
    font-weight: 500;
    font-size: 20px;
    color: var(--branco);
    font-family: var(--font-principal);
    
}
.retangulo__legenda{
    margin-right: 1em;
}
