 /* .banner{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('/paginas/experiencia/img/banner-experiencia.svg');
    background-size: cover;
    background-position: top;
    width: 100%;
    height: 384px;
    
} 

.primeira-img{
    width: 100%;
    height: 384px;

}
.segunda-img{
    width: 80%;
}

.banner__titulo{
    width: 100%;
    height: 270px;
    display: flex;
    justify-content: center;
    align-items: center;
    
    background-size: cover;
    
}
.banner__texto{
    opacity: 100%;
   
}
.banner__titulo 
{
    font-family: var(--fonte-banner);
    font-weight: 400;
    font-size: 32px;
    line-height: 42px;
    color: black;
    color: var(--branco);
    
}


@media (min-width: 768px){
    .banner
    {
        background-image: url('/paginas/experiencia/img/banner-768.svg');
        background-repeat: no-repeat;
        background-size: cover;
    }

    .banner__titulo
    {
    font-size: 64px;
    color: var(--branco);
    }
  
}

@media (min-width: 1440px){
    .banner{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('/paginas/experiencia/img/banner-1440.svg');
    background-size: cover;
    background-position: top;
    width: 100%;
    }
 


} */